<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
  <link rel="stylesheet" th:href="@{/css/profile2.css}"/>
  <link rel="stylesheet" th:href="@{/css/templatemo-style.css}"/>
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>
<body>
<div class="wrap">
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button id="primary-nav-button" type="button">Menu</button>
          <div class="logo" style="width:221px;margin-top:18px">
            <img  src="img/logo.png" alt="Venue Logo">
          </div></a>
          <nav id="primary-nav" class="dropdown cf">
            <ul class="dropdown menu">
              <li>
                <a class="nav-link tm-nav-link" href="/">Home</a>
              </li>
              <li>
                <a class="nav-link tm-nav-link" href="/profile">profile</a>
              </li>
              <li><a href="#" sec:authorize="!hasRole('ROLE_ADMIN')">Add Donation</a>
                <ul class="sub-menu" sec:authorize="hasRole('ROLE_USER')">
                  <li th:each="cat:${catList}">
                    <a th:text=${cat.catalogName}  href="#"></a>
                    <ul class="sub-menu">
                      <li th:each="item:${cat.itemsList}">
                        <a  th:text=${item.itemName}  th:href="${'/donationForm/'+item.itemId}">  </a>
                      </li>
                    </ul>
                  </li>
                </ul>
<!--                ******************************************************************-->
                <ul class="sub-menu" sec:authorize="hasRole('ROLE_CHARITY')" >
                  <li th:each="cat:${catList}">
                    <a th:text=${cat.catalogName}  href="#"></a>
                    <ul class="sub-menu">
                      <li th:each="item:${cat.itemsList}">
                        <a  th:text=${item.itemName}  th:href="${'/donationForm/'+item.itemId}">  </a>
                      </li>
                    </ul>
                  </li>
                </ul>
<!--                **************************************************************************************-->
              </li>

              <li sec:authorize="hasRole('ROLE_USER')">
                <a class="nav-link tm-nav-link" href="/myPage">Donations</a>
              </li>
<!--              *****************************************************************************************-->
              <li sec:authorize="hasRole('ROLE_CHARITY')">
                <a class="nav-link tm-nav-link" href="/charityRequests">Donations</a>
              </li>
              <li >
                <a class="nav-link tm-nav-link" href="/perform_logout">Logout</a>
              </li>
            </ul>
          </nav><!-- / #primary-nav -->
        </div>
      </div>
    </div>
  </header>
</div>


<div class="profile-main-div" sec:authorize="hasRole('ROLE_USER')" >
<div class="container emp-profile">
  <form method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="profile-img">
          <img src="img/avatar.jpg" alt=""/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="profile-head">
          <h5 th:text="${donator.username}">

          </h5>
          <h6>
            <br/>
          </h6>
          <p> <br/></p>
<!--          id="myTab1"=====>id="myTab"-->
          <ul class="nav nav-tabs" id="myTab1" role="tablist">
            <li class="nav-item">
              <p >About</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
<!--        id="myTabContent1"====>id="myTabContent"-->
        <div class="tab-content profile-tab" id="myTabContent1">
<!--          id="home1"=======>id="home"-->
          <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
              <div class="col-md-6">
                <label>First Name:</label>
              </div>
              <div class="col-md-6">
                <p th:text="${donator.firstName}"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Last Name:</label>
              </div>
              <div class="col-md-6">
                <p th:text="${donator.lastName}"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email:</label>
              </div>
              <div class="col-md-6">
                <p th:text="${donator.email}"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Phone Number:</label>
              </div>
              <div class="col-md-6">
                <p th:text="${donator.phoneNumber}"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Date Of Birth:</label>
              </div>
              <div class="col-md-6">
                <p  th:text="${donator.dateOfBirth}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>

<!--***********************************************************************************************************-->
<!--Role-charity-->
<div class="profile-main-div" sec:authorize="hasRole('ROLE_CHARITY')" >
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img src="https://previews.123rf.com/images/sokolfly/sokolfly1806/sokolfly180600162/104544767-ve[…]nization-volunteer-center-and-fundraising-event-donatio.jpg" alt=""/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5 th:text="${charityOrganization.name}">

            </h5>
            <h6>
              <br/>
            </h6>
            <p> <br/></p>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <p >About</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
<!--              <div class="row">-->
<!--                <div class="col-md-6">-->
<!--                  <label>First Name:</label>-->
<!--                </div>-->
<!--                <div class="col-md-6">-->
<!--                  <p th:text="${donator.firstName}"></p>-->
<!--                </div>-->
<!--              </div>-->
              <div class="row">
                <div class="col-md-6">
                  <label>Facebook Page:</label>
                </div>
                <div class="col-md-6">
                  <p th:text="${charityOrganization.facebookPage}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email:</label>
                </div>
                <div class="col-md-6">
                  <p th:text="${charityOrganization.email}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone Number:</label>
                </div>
                <div class="col-md-6">
         <p th:text="${charityOrganization.number}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Address:</label>
                </div>
                <div class="col-md-6">
                  <p  th:text="${charityOrganization.address}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!--********************************************************************************************************-->
<div class="profile-main-div" sec:authorize="hasRole('ROLE_ADMIN')" >
  <div class="container emp-profile">
    <form method="post">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img th:src="@{/img/dashboard/admin.png}" style="" alt=""/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="profile-head">
            <h5 th:text="${donator.username}">

            </h5>
            <h6>
              <br/>
            </h6>
            <p> <br/></p>
            <!--          id="myTab1"=====>id="myTab"-->
            <ul class="nav nav-tabs" id="myTab2" role="tablist">
              <li class="nav-item">
                <p >About</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
         <button> <a th:href="@{/dashbord}" class="profile-edit-btn"  value="Dashboard">Dashboard</a></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <!--        id="myTabContent1"====>id="myTabContent"-->
          <div class="tab-content profile-tab" id="myTabContent2">
            <!--          id="home1"=======>id="home"-->
            <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>First Name:</label>
                </div>
                <div class="col-md-6">
                  <p th:text="${donator.firstName}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Last Name:</label>
                </div>
                <div class="col-md-6">
                  <p th:text="${donator.lastName}"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email:</label>
                </div>
                <div class="col-md-6">
                  <!--                <p th:text="${donator.email}"></p>-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone Number:</label>
                </div>
                <div class="col-md-6">
                  <!--                <p th:text="${donator.phoneNumber}"></p>-->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Date Of Birth:</label>
                </div>
                <div class="col-md-6">
                  <p  th:text="${donator.dateOfBirth}"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script th:src="@{/js/datepicker.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>