<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Donation</title>
</head>
<body>


<main>

    <div>
        <h3 style="margin-left:10px;"> Donation : </h3>
<!--                        <ul th:each="req:${donationReqList}" style="width: 70%;">-->
<!--                            <li >Description :<span th:text="${req.description}"></span></li>-->
<!--                            <li >Status :<span th:text="${req.status}"></span></li>-->
<!--                        </ul>-->

        <div class="list-group">
            <ul th:each="donation : ${donationList}" th:if="${!donation.isStatus == false}" style="width: 70%;">
                <li >Description :<span th:text="${donation.description}"></span></li>
                <li >Status :<span th:text="${donation.status}"></span></li>
                <li th:if="${donation.getDonationsItems().getDonationReqList().size()>0}" >🔴
                </li>
                <div th:each="req : ${donation.getDonationsItems().getDonationReqList()}">
                <ul  style="width: 70%;">
                    <li >Description :<span th:text="${req.description}"></span></li>
                    <li >Status :<span th:text="${req.status}"></span></li>
                </ul>
                    <form action="/finishDonation" method="post">
                        <input hidden type="text"id="idForDonationReq" name="idForDonationReq" th:value="${req.getId}">
                        <input hidden type="text"idForDonation="id" name="idForDonation" th:value="${donation.getDonationId}">
                        <input type="submit" value=" add donation ">
                    </form>
              </div>
            </ul>
        </div>
    </div>
    <div>
        <h3 style="margin-left:10px;"> Donation Finished : </h3>
        <div class="list-group">
            <ul th:each="donation : ${donationList}" th:if="${donation.isStatus == false}" style="width: 70%;">
                <li >Description :<span th:text="${donation.description}"></span></li>
                <li >Status :<span th:text="${donation.status}"></span></li>
                <li>🟢</li>
            </ul>
        </div>
    </div>


</main>

</body>
</html>